body{
    font-family: Helvetica Neue,Helvetica,Arial,PingFang SC,Hiragino Sans GB,WenQuanYi Micro Hei,Microsoft Yahei,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
header{
    height: 60px;
    background-color: rgba(32, 160, 255, 0);
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 60px;
    z-index: 100;
    position: fixed;
    display: flex;
}
header div{
	flex: 1;
	background: #fff;
}
header div:not(:last-child){
	border-right: 1px solid #ddd;
}
header a{
	text-decoration: none;
	font-size: 16px;
	color: #454545;
    letter-spacing: 1px;
    margin-left: 20px;
}
header a:hover{
	color: #e74c4c;
	cursor: pointer;
}
.check_menu{
	background: #000;
}
.check_menu a{
	color: #fff;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(1px); 
}
.cover{
 	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.1;
    z-index: 0;
}
.b-title{
    margin: 100px auto;
    color: #fff;
    font-size: 80px;
    width: 1120px;
}
.other{
    margin-top:60px;
    border-top: 1px solid #eee
}
.other .o-bg{
    width: 1120px;
    margin: 0 auto;
    text-align: center;
}
.o-con{
    display: flex;
    margin-top: 10px;
}
.o-con div{
    flex: 1
}
.o-con div img{
    height: 200px;
    width: 200px;
    border: 2px solid #44b549;
}
.o-con div:first-child img{
    border-color: #ef4d58
}
.o-con div:last-child img{
    border-color: #24292e
}
.list-item{
    display: block;
}
.list-enter-active, .list-leave-active {
    transition: all 1s;
}
.list-enter, .list-leave-active {
    opacity: 0;
    transform: translateY(30px);
}
.list-item2{
    margin-right: 20px;
    display: inline-block;
}
.list-after-enter-active, .list-after-leave-active {
  transition: opacity 3s
}
.flist-after-enter, .list-after-leave-active {
  opacity: 0
}
.other .menu{
    position: fixed;
    z-index: 10;
    top: 20px;
    left: 0;
    bottom: 0;
    padding: 40px 0 30px 60px;
    width: 220px;
    margin-right: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    border-right: 1px solid #eee;
}
.other ul{
    list-style-type: none;
    line-height: 30px;
}
.other ul a{
    border-radius: 2em;
    color: #34495e;
    font-size: 16px;
    width: 125px;
    padding: 4px 0;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}
.other ul a:hover{
    color: #42b983;
}
.other .a-right{
    margin-left: 300px;
    margin-top: 20px;
}
.other .a-right a{
    border-radius: 2em;
    color: #454545;
    font-size: 16px;
    padding: 4px 0;
    text-align: left;
    margin-bottom: 20px;
    line-height: 30px;
    display: block;
}
.other .a-right .a-title{
    color: #42b983;
    font-size: 24px;
}